# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.vscode/
.idea/
*.swp
*.swo
+~
.DS_Store

# OS
.DS_Store
Thumbs.db

# Build
build/
.eas/

# Testing
coverage/
.jest/

# Logs
logs/
*.log

# Temporary
tmp/
temp/
